<div class="splash-page">
    <div class="content">
        <img src="/images/tox-logo.png" alt="Tales of Xadia Logo">
        <h1 class="text-center">Forbidden</h1>
        <p>You don't have access to view this page. </p>
    </div>
</div>
