<div class="splash-page">
    <div class="content">
        <h1 class="text-success ">Account Requested.</h1>
        <p class="lead">
            Your account has been requested.
        </p>
        <p>
            Once your request has been approved you will be able to log in with the
            email and password provided.
        </p>
        <p class="text-right">
            <a href="/" class="button primary">Ok</a>
        </p>
    </div>
</div>
