@import 'settings';

.die {
  vertical-align: middle;
  margin: 0 2px;
  font-family: $body-font-family;

  &.medium {
    width: 3rem;
    height: 3rem;
  }

  &.small {
    width: 1.6rem;
    height: 1.6rem;
  }

  &.large {
    width: 5rem;
    height: 5rem;
  }
}

.die.unrolled {
  path {
    fill: #0d4ba0;
  }

  text {
    fill: $white;
  }
}

.die.effect {
  path {
    fill: #2D5931;
  }

  text {
    fill: $white;
  }
}

.die.selected {
  path {
    fill: $white;
    stroke: #0d4ba0;
    stroke-width: 2;
  }

  text {
    fill: $black;
  }
}

.die.ignored {
  path {
    fill: #424C59;
  }

  text {
    fill: #82939F;
  }
}

.die.hitch {
  path {
    fill: $black;
    stroke: #0d4ba0;
    stroke-width: 2;
  }

  text {
    fill: $white;
  }
}

.die.plot-point {
  path {
    fill: #141c27;
  }
  path:first-child {
    fill: #d2952a;
  }
  color: #141c27;
}

.dice-divider {
  font-size: 2.5em;
  line-height: 1;
  vertical-align: middle;
  margin: 0 0.5em;
}
