@import 'settings';
@import 'foundation';

@import "fontawesome";
@import "regular";
@import "brands";

@import "dice";

//@import 'motion-ui';
//@include motion-ui-transitions;
//@include motion-ui-animations;

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
@include foundation-table;

// Basic components
//@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
//@include foundation-pagination;
//@include foundation-tooltip;

// Containers
//@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
//@include foundation-responsive-embed;
//@include foundation-tabs;
//@include foundation-thumbnail;

// Menu-based containers
@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-accordion-menu;
//@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
//@include foundation-off-canvas;
//@include foundation-reveal;
//@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.wrapper-container {
  height: 100%;
}

.inline {
  display: inline-block;
}

.sticky {
  position: sticky;
  top:0;
  width: 100%;
  background: $body-background;
  border-top: thin darken($body-background, 20%) solid;
  border-bottom: thin darken($body-background, 20%) solid;
}

ul {
  list-style-image: url('/images/bullet.png');
}

.top-bar {
  margin-bottom: $global-margin;

  .dropdown.menu {
    & > li > a {
      background: $topbar-background;
    }

    & > li.menu-text > a {
      padding: 0;
      color: $black;
    }
  }
}

.spaced {
  margin-bottom: $global-margin;
  padding-bottom: $global-padding;
}

img.float-left {
  margin: 1em 1em 1em 0;
}

img.float-right {
  margin: 1em 0 1em 1em;
}

img.flip {
  transform: scaleX(-1);
}

.splash-page {
  background: url('/images/splash-background.png') no-repeat center 15%;
  background-size: cover;

  height: 100vh;
  display: grid;

  .content {
    place-self: center;
    padding: 2 * $global-padding;
    margin: $global-margin;
    background-color: rgba($body-background, 0.75);
    color: $primary-color;

    & label {
      color: $primary-color;
    }
  }
}

.button {
  margin: 0;
}

.main-container {
  min-height: 100%;

  .main {
    min-height: 100%;
    overflow-y: auto;
    padding: $global-padding;

    background: $light-gray;
  }

  .sidebar-menu {
    min-height: 100%;
    overflow-y: auto;
    background: $black;
    color: $white;
    padding: $global-padding;
  }

}

@each $name, $color in $foundation-palette {
  .text-#{$name} {
    color: $color
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    background-color: rgba(darken($body-background, 50%), 0.2);
  }

  &.selected {
    background-color: rgba(darken($body-background, 50%), 0.2);

    &:hover {
      background-color: rgba(darken($body-background, 50%), 0.4);
    }
  }
}

.image-upload-container {
  display: flex;
  height: 30vh;

  align-items: center;
  justify-content: center;

  background: center center darken($body-background, 5%) no-repeat;
  background-size: contain;

  border: thin darken($body-background, 20%) solid;
  margin-bottom: $global-margin;
}

.dropdown-trigger {
  cursor: pointer;
  background-color: rgba(darken($body-background, 50%), 0.2);
  padding: 0.1rem;

  &:hover {
    background-color: rgba(darken($body-background, 50%), 0.4);
  }
}

.fade-in {
  -webkit-animation: fadeIn ease-out 1s;
  -moz-animation: fadeIn ease-out 1s;
  -o-animation: fadeIn ease-out 1s;
  -ms-animation: fadeIn ease-out 1s;
  animation: fadeIn ease-out 1s;
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

textarea.markdown {
  font-family: $font-family-monospace;
  height: 4em;
}

.description-large {
  font-family: $font-family-callout;
  p, li {font-size: 1.8rem}
}
.description-medium {
  font-family: $font-family-callout;
  p, li {font-size: 1.5rem}
}
.description-small {
  font-family: $font-family-callout;
  p, li {font-size: 1.1rem}
}

fieldset {
  border: thin darken($body-background, 20%) solid;
  padding: 0 0.5rem 0.25rem;
  margin-bottom: $global-margin;

  legend {
    color: $primary-color;
    padding: 0 0.25rem;
    font-family: $header-font-family;
    font-size: 1.2rem;
  }
}

.align-form {
  padding-top: $form-label-line-height + em;
}

.full-height {
  height: 100vh;
}

.character-sheet {
  position: relative;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: -3rem;
    bottom: 0;
    width: 100%;
    opacity: 0.2;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    z-index: -1;
  }
}

.trait-statement {
  font-style: italic;
  font-size: 0.9rem;
}

.snippet-container {
  background-color: darken($body-background, 5%);
}

.dice-pool-row {
  display: flex;
  border: thin darken($body-background, 20%) solid;
  padding: 0.2rem;
  align-items: center;
  margin-bottom: 0.1rem;
}

.dice-pool-label {
  flex-grow: 1;
  font-family: $header-font-family;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

.dice-pool-dice {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.dropdown-container {
  position: relative;
}

.dropdown-pane {
  padding: 0.25rem;

  &.right {
    right: 0;
  }
}
