<div class="grid-container full">
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell small-full">
            <div id="react-mount-point"
                 data-websocket-url="{{ websocket_url }}"
                 data-campaign="{{campaign}}"
            ></div>
        </div>
    </div>
</div>
